<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Admin</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript">
    var gbmap;
    $( document ).ready(function() {
      var current_user_id;

      $("#loadUsersBtn").click(() => {
        $("#loadUsersBtn").html("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>Loading...")
        setTimeout(() => {
          $.get("/api/v1/admin/users", function (data) {
            console.log(data);
            let rows = "";
            let rowNumber = 1;
            gbmap = new Map();
            data.forEach(function (row) {
              gbmap.set(row.id, row);
              current_user_id = row.id;

              let enabled_opt = "Enabled";
              if (row.enabled === false) {enabled_opt = "Disabled"}

              let role_opt = "User";
              if(row.userRoles === "ROLE_ADMIN") {
                role_opt = "Administrator"
              } else if(row.userRoles === "ROLE_WAITER") {
                role_opt = "Waiter"
              }

              rows += `<tr>
                        <th scope="row">${rowNumber++}</th>
                        <td>${row.firstName}</td>
                        <td>${row.lastName}</td>
                        <td>${row.email}</td>
                        <td>${row.phoneNumber}</td>
                        <td>${role_opt}</td>
                        <td>${enabled_opt}</td>
                        <td><button id='deleteUserBtn' type='button' class='btn btn-danger user-remove-btn' value="${row.id}">Delete</button></td>
                        <td><button type="button" class="btn btn-primary user-edit-btn" data-bs-toggle="modal" data-bs-target="#save_Modal" value="${row.id}">Edit</button></td>
                      </tr>`;
            });
            $("#usersList tbody").html(rows);
            $("#loadUsersBtn").html("Load users");

            $(".user-remove-btn").click((event) =>{
              let id = $(event.target).attr("value");
              $.ajax({
                type:"DELETE",
                url:"http://localhost:8080/api/v1/admin/users/" + id,
                success: function(data){
                  $("#loadUsersBtn").click();
                }
              });
            });

            $(".user-edit-btn").click((event) =>{

              $("#inputPassword").hide();
              $("#inputStateRoles").hide();
              $("#btn_add").hide();
              $("#btn_save").show();

              let id = $(event.target).attr("value");
              current_user_id = id;
              let user = gbmap.get(id);

              $("#inputEmail").val(user.email);
              $("#inputFirstName").val(user.firstName);
              $("#inputLastName").val(user.lastName);
              $("#inputPhone").val(user.phoneNumber);
              if (user.enabled === true) {
                $("#inputStateEnabling").val("enabled");
              } else {
                $("#inputStateEnabling").val("disabled");
              }
            });

            $("#btn_save").click(function() {

              let enabled_opt = true;
              if ($("#inputStateEnabling").val() === "disabled") {enabled_opt = false}

              let jsonVar = {
                email: $("#inputEmail").val(),
                firstName: $("#inputFirstName").val(),
                lastName: $("#inputLastName").val(),
                phoneNumber: $("#inputPhone").val(),
                enabled: enabled_opt
              };

              $.ajax({
                type: "PUT",
                data: JSON.stringify(jsonVar),
                contentType: "application/json",
                url:"http://localhost:8080/api/v1/admin/users/" + current_user_id,
                success: function (data) {
                  jsonVar = null;
                  $("#inputEmail").val(null);
                  $("#inputFirstName").val(null);
                  $("#inputLastName").val(null);
                  $("#inputPhone").val(null);
                  $("#btn_close").click()
                  $("#loadUsersBtn").click();
                }
              });
            });
          });
        }, 2000);
      })
      $("#addUsersBtn").click(() => {
        $("#btn_save").hide();
        $("#inputPassword").show();
        $("#inputStateRoles").show();
        $("#btn_add").show();
      });
      $("#btn_add").click(function() {

        let enabled_opt = true;
        if ($("#inputStateEnabling").val() === "disabled") {enabled_opt = false}

        let jsonVar = {
          email: $("#inputEmail").val(),
          firstName: $("#inputFirstName").val(),
          lastName: $("#inputLastName").val(),
          phoneNumber: $("#inputPhone").val(),
          password: $("#inputPasswordField").val(),
          enabled: enabled_opt,
          userRoles: $("#inputStateRolesField").val()
        };

        $.ajax({
          type: "POST",
          data: JSON.stringify(jsonVar),
          contentType: "application/json",
          url:"http://localhost:8080/api/v1/admin/users/add",
          success: function (data) {
            jsonVar = null;
            $("#inputEmail").val(null);
            $("#inputFirstName").val(null);
            $("#inputLastName").val(null);
            $("#inputPhone").val(null);
            $("#inputPasswordField").val(null),
            $("#inputStateRolesField").val(null)
            $("#btn_close").click()
            $("#loadUsersBtn").click();
          }
        });
      });
    });


    $( document ).ready(function() {

      var gbmap_orders;
      var gb_meals = [];
      var current_order_id;

      $.get("/api/v1/admin/meals", function (data) {
        var options =  ''
        gb_meals = data;
        data.forEach(function (row) {
          options += '<option value="'+row.price+'">'+row.name+'</option>';
        });
        $('.meal_selector').html(options);
      });

      $("#loadUsersBtn").click();

      $("#loadOrdersBtn").click(() => {
        $("#loadOrdersBtn").html("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>Loading...")
        setTimeout(() => {
          $.get("/api/v1/admin/orders", function (data) {
            console.log(data);
            let rows = "";
            let rowNumber = 1;
            gbmap_orders = new Map();
            data.forEach(function (row) {
              gbmap_orders.set(row.id, row);
              current_order_id = row.id;

              let user = gbmap.get(row.userId);


              rows += `<tr>
                        <th scope="row">${rowNumber++}</th>
                        <td>${getMealNamesFromOrder(row.mealList)}</td>
                        <td>${user.firstName} ${user.lastName}<p>${user.phoneNumber}</p></td>
                        <td>${row.totalPrice}</td>
                        <td>${row.numOfTableOrReceiptPlace}</td>
                        <td>${row.status}</td>
                        <td><button type="button" class="btn btn-primary order-edit-btn" data-bs-toggle="modal" data-bs-target="#saveOrder_Modal" value="${row.id}">Edit</button></td>
                      </tr>`;
            });
            $("#ordersList tbody").html(rows);
            $("#loadOrdersBtn").html("Load orders");

          $(".order-edit-btn").click((event) =>{

            $("#btn_add_meal").hide();
            $("#btn_addOrder").hide();
            $("#inputMeals").hide();
            $("#meal_selector_id").hide();

            $("#btn_saveOrder").show();
            $("#inputOrderStatus").show();

            let id = $(event.target).attr("value");
            current_order_id = id;
            let order = gbmap_orders.get(id);
            console.log(order);

            $("#inputTableOrReceiptPlace").val(order.numOfTableOrReceiptPlace);
            $("#inputOrderStatus").val(order.status);
          });

          $("#btn_saveOrder").click(function() {

            let jsonVar = {
              numOfTableOrReceiptPlace: $("#inputTableOrReceiptPlace").val(),
              status: $("#inputOrderStatus").val()
            };

            $.ajax({
              type: "PUT",
              data: JSON.stringify(jsonVar),
              contentType: "application/json",
              url: "http://localhost:8080/api/v1/admin/orders/" + current_order_id,
              success: function (data) {
                jsonVar = null;
                $("#inputTableOrReceiptPlace").val("");
                $("#inputOrderStatus").val("IN_PROGRESS");
                $("#btn_closeOrder").click()
                $("#loadOrdersBtn").click();
              }
            });
          });

          $(".open_modal_add_order").click(function () {
            $("#btn_saveOrder").hide();
            $("#inputOrderStatus").hide();

            $("#btn_addOrder").show();
            $("#inputMeals").show();
            $("#meal_selector_id").show();
            $("#btn_add_meal").show();
          });

          $("#btn_addOrder").click(function() {
              let taken_meals = [];

              let lable_meals = $("#inputMeals").text().split(", ");
              gb_meals.forEach(function (meal) {
                for (let element of lable_meals) {
                  if (element.includes(meal.name)) {
                    taken_meals.push(meal);
                    break;
                  }
                }
              })

              let jsonVar = {
                mealList: taken_meals,
                numOfTableOrReceiptPlace: $("#inputTableOrReceiptPlace").val()
              };

              $.ajax({
                type: "POST",
                data: JSON.stringify(jsonVar),
                contentType: "application/json",
                url:"http://localhost:8080/api/v1/admin/orders/add",
                success: function (data) {
                  jsonVar = null;
                  $("#inputTableOrReceiptPlace").val(null),
                  $("#btn_closeOrder").click()
                  $("#loadOrdersBtn").click();
                }
              });

            });

            $("#btn_add_meal").click(() => {
              let lable = $("#inputMeals").text().substr(0, $("#inputMeals").text().length - 2);

              if(lable !== "Meal:[") {
                $("#inputMeals").text(lable).append(", ").append($("#meal_selector_id option:selected").text()).append(" ]");
              } else {
                $("#inputMeals").text(lable).append($("#meal_selector_id option:selected").text()).append(" ]");
              }
            });

            $(".close_meal_modal").click(function () {
              $("#inputMeals").text("Meal:[ ]");
            });
          });
        }, 2000);
      });

      function getMealNamesFromOrder(mealList) {
        let mealNameList = "";
        for (let i = 0; i < mealList.length; i++) {
          mealNameList += mealList[i].name;
          if (i !== mealList.length - 1) {
            mealNameList += ", ";
          }
        }
        return mealNameList;
      }
    });
  </script>
</head>
  <body>
  <ul class="nav nav-tabs navbar-dark bg-dark" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
    </li>
  </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <button id="loadUsersBtn" type="button" class="btn btn-primary">Load users</button>
        <button id="addUsersBtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#save_Modal">Add user</button>
        <table id="usersList" class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Role</th>
              <th scope="col">Enabling</th>
              <th scope="col">Delete</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="modal" tabindex="-1" id="save_Modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="editForm">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputFirstName">FirstName</label>
                      <input type="text" class="form-control" id="inputFirstName" required minlength="2" maxlength="30"/>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputLastName">LastName</label>
                      <input type="text" class="form-control" id="inputLastName" required minlength="2" maxlength="30"/>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail">Email</label>
                      <input type="email" class="form-control" id="inputEmail" required minlength="6" maxlength="30"/>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPhone">Email</label>
                      <input type="text" class="form-control" id="inputPhone" required minlength="8" maxlength="11"/>
                    </div>
                    <div class="form-group col-md-6" id="inputPassword">
                      <label for="inputPasswordField">Password</label>
                      <input type="password" class="form-control" id="inputPasswordField" required minlength="6" maxlength="15">
                    </div>
                    <div class="col-md-6" id="inputStateRoles">
                      <label for="inputStateRolesField" class="form-label">Role:</label>
                      <select id="inputStateRolesField" class="form-select">
                        <option value="ROLE_ADMIN">Administrator</option>
                        <option value="ROLE_WAITER">Waiter</option>
                      </select>
                    </div>
                      <div class="col-md-6">
                        <label for="inputStateEnabling" class="form-label">Enabling</label>
                        <select id="inputStateEnabling" class="form-select">
                          <option value="enabled">Enable</option>
                          <option value="disabled">Disable</option>
                        </select>
                      </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn_close">Close</button>
                <button type="button" class="btn btn-primary" id="btn_save">Save</button>
                <button type="button" class="btn btn-primary" id="btn_add">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <button id="loadOrdersBtn" type="button" class="btn btn-primary">Load orders</button>
        <button id="addOrdersBtn" type="button" class="btn btn-primary open_modal_add_order" data-bs-toggle="modal" data-bs-target="#saveOrder_Modal">Add order</button>
        <table id="ordersList" class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Meal list</th>
            <th scope="col">Customer</th>
            <th scope="col">Total price</th>
            <th scope="col">Table or receipt place</th>
            <th scope="col">Order status</th>
            <th scope="col">Edit</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="modal" tabindex="-1" id="saveOrder_Modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close close_meal_modal" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="editOrdersForm">
                  <div class="form-row">
                      <div class="col-md-8" >
                        <select class="form-select meal_selector" id="meal_selector_id">
                          <option value=''><strong>Meals</strong></option>
                        </select>
                      </div>
                      <div class="col">
                        <button type="button" class="btn btn-primary" id="btn_add_meal">Add</button>
                      </div>
                    <div class="form-group col-md-8">
                      <label for="inputTableOrReceiptPlace">Table or receipt place</label>
                      <input type="text" class="form-control" id="inputTableOrReceiptPlace">
                    </div>
                    <div class="form-group col-md-8">
                      <label for="inputOrderStatus">Order status</label>
                      <select id="inputOrderStatus" class="form-select">
                        <option value="IN_PROGRESS">IN_PROGRESS</option>
                        <option value="DONE">DONE</option>
                        <option value="DELIVERED">DELIVERED</option>
                        <option value="CANCELLED">CANCELLED</option>
                      </select>
                    </div>

                    <div class="form-group col-md-12">
                      <label id="inputMeals" style="color:DarkOrchid">Meal:[ ]</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_meal_modal" data-bs-dismiss="modal" id="btn_closeOrder">Close</button>
                <button type="button" class="btn btn-primary" id="btn_saveOrder">Save</button>
                <button type="button" class="btn btn-primary" id="btn_addOrder">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3...</div>
    </div>
  </body>
</html>